.carrinho{
    display: flex;
    padding: 100%;
}
 .carrinho__texto{
     display: flexbox;
     color: #000;
 }
 .modal-carrinho{
    display: inline;
    color: brown;
    justify-content: center;
 }